---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="about us">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">About</h2>
        <div class="tag-post-list">
          <ul>
            <li>Les étudiants de Centrale Lille.</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Tâches</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <b>Gael MOREAU</b>     : ecrire Controverse, Traduction et vérification de texte<li>
                <b>Junhao YANG</b>     : Recherche les article, ecrire resume, ecrire Introduction<li>
                <b>Xiaoda ZHAO</b>     : Recherche les article, ecrire resume, ecrire Acteur<li>
                <b>Xinyu ZHENG</b>     : Création du site de web, Répartition des rôles<li>
                <b>Riki EGAWA</b>      : Création du site de web, Recherche les images, désigne du site<li>
                <b>Aymane REDOUANE</b> : N/A
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
