---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="about us">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">about</h2>
        <div class="tag-post-list">
          <ul>
            <li>Les meilleurs.</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">abonnez-vous</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <a href="https://twitter.com/austinit" target="_blank"> Twitter</a>
            </li>
            <li>
              <a href="https://github.com/austin2035" target="_blank">Github</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Idées</h2>
        <div class="tag-post-list">
          <ul>
            <li>Je suis beau.</li>
          </ul>
        </div>
      </div>

      <div class="archive-tag">
        <h2 class="tag-header">Tâches</h2>
        <div class="tag-post-list">
          <ul>
            <li>
              <b>Gael MOREAU</b>     : ecrire Controverse, Traduction et vérification de texte<li>
                <b>Junhao YANG</b>     : Recherche les article, ecrire resume, ecrire Introduction<li>
                <b>Xialda ZHAO</b>     : Recherche les article, ecrire resume, ecrire Acteur<li>
                <b>Xinyu ZHENG</b>     : Création du site de web, Répartition des rôles<li>
                <b>Riki EGAWA</b>      : Création du site de web, Recherche les images<li>
                <b>Aymane REDOUANE</b> : N/A
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
