---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePostList from "../layouts/ArchivePostList.astro";
const allPosts = await Astro.glob("./posts/*.md");
const tags = ["Content"];
const posts = [];

tags.forEach((tag) => {
  let filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
  posts.push(filteredPosts);
});
---
<BaseLayout primaryTitle="about us">
  <div class="bibliographie">
    <h2 class="tag-header">Bibliographie</h2>
    <div class="tag-post-list">
      <ul>
        <li>
          <p>
            Le vif intérêt suscité par l’intelligence artificielle a non seulement révélé l’étonnante capacité des algorithmes à imiter les êtres humains, mais aussi la possibilité que ces mêmes algorithmes remplacent un grand nombre d’entre nous dans leur travail. Examinons ensemble l’impact de l’intelligence artificielle sur l’emploi,De Carla Cino,25/08/2023
            <a href="https://www.monster.fr/recruter/ressources-rh/actu-rh/marche-de-l-emploi-et-tendances-rh/ia-emploi-en-finir-avec-les-fantasmes/" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Les métiers de l’intelligence artificielle : de nouvelles carrières, pour tout le monde,Le 6 décembre 2023, Amira Hadak.
            <a href="https://www.actuia.com/actualite/les-metiers-de-lintelligence-artificielle-de-nouvelles-carrieres-pour-tout-le-monde/" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Quels impacts de l’intelligence artificielle sur l’avenir du travail ?Par Salima Benhamou
            <a href="https://www.strategie.gouv.fr/sites/strategie.gouv.fr/files/atoms/files/revue_personnel_-s._benhamou-_intelligence_artificielle.pdf" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            L’impact de l’IA sur le marché du travail, 20 juin 2023, Charles-Henry Monchau, Banque Syz
            <a href="https://www.allnews.ch/content/points-de-vue/l%E2%80%99impact-de-l%E2%80%99ai-sur-le-march%C3%A9-du-travail" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            What Generative AI Reveals About the Human Mind, By Andy Clark, January 5, 2024
            <a href="https://time.com/6552233/generative-ai-reveals-human-mind/" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Intelligence artificielle : le plan d’action de la CNIL, 16 mai 2023
            <a href="https://www.cnil.fr/fr/intelligence-artificielle-le-plan-daction-de-la-cnil" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Le déploiement de l’IA dans les organisations et son utilisation dans les recrutements, 09 novembre 2023, LaborIA
            <a href="https://travail-emploi.gouv.fr/actualites/l-actualite-du-ministere/article/le-deploiement-de-l-ia-dans-les-organisations-et-son-utilisation-dans-les" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Artificial Intelligence as a Tool to Reduce Graduates' Unemployment Needs
            <a href="https://www.ijssrr.com/journal/article/view/1570" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Artificial intelligence and unemployment in high-tech developed countries: New insights from dynamic panel data model
            <a href="https://www.sciencedirect.com/science/article/pii/S2590051X23000308" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            “You’re Fired,” Says the Robot: The Rise of Automation in the Workplace, Technophobes, and Fears of Unemployment
            <a href="https://journals.sagepub.com/doi/abs/10.1177/0894439317698637" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Elon Musk warns AI could cause ‘civilization destruction’ even as he invests in it
            <a href="https://edition.cnn.com/2023/04/17/tech/elon-musk-ai-warning-tucker-carlson/index.html" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Stephen Hawking warns artificial intelligence could end mankind
            <a href="https://www.bbc.com/news/technology-30290540" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            The impact of artificial intelligence on growth and employment
            <a href="https://cepr.org/voxeu/columns/impact-artificial-intelligence-growth-and-employment" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Elon Musk: Robots will take your jobs, government will have to pay your wage
            <a href="https://www.cnbc.com/2016/11/04/elon-musk-robots-will-take-your-jobs-government-will-have-to-pay-your-wage.html" target="_blank">source</a>
          </p>
        </li>
        <li>
          <p>
            Will AI Take My Job?
            <a href="https://www.beyond.agency/blog/will-ai-take-my-job" target="_blank">source</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>
