---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArchivePostList from "../layouts/ArchivePostList.astro";
const allPosts = await Astro.glob("./posts/*.md");
const tags = ["cartographie"];
const posts = [];

tags.forEach((tag) => {
  let filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
  posts.push(filteredPosts);
});
---

<BaseLayout primaryTitle="Archive">
  <section class="archive">
    <div class="section-content section-tag">
      <!-- {
        tags.map((tag, index) => {
          return (
            <div class="archive-tag">
              <h2 class="tag-header">{tag}</h2>
              <div class="tag-post-list">{posts[index].length !== 0 ? <ArchivePostList posts={posts[index]} /> : <div class="no-posts">Rien</div>}</div>
            </div>
          );
        })
      } -->
      <h1>Chronologie</h1>
      <dl>
        <dt>1943</dt>
        <dd>
          <span onclick="obj=document.getElementById('open1').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>McCulloch et Pitt</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open1" style="display: none; clear: both;">
          <li>McCulloch et Pitts introduisent le modèle de neurone formel </li>
          </span>
          </ul>
        </dd>

        <dt>1950</dt>
        <dd>
          <span onclick="obj=document.getElementById('open2').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Alan Turing publie</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open2" style="display: none; clear: both;">
          <li>Alan Turing publie "Computing Machinery and Intelligence", introduisant le test de Turing, "mesure" de l'intelligence d'une machine</li>
          </span>
          </ul>
        </dd>

        <dt>1956</dt>
        <dd>
          <span onclick="obj=document.getElementById('open3').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Conférence de Dartmouth</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open3" style="display: none; clear: both;">
          <li>Conférence de Dartmouth, acte de naissance de l'IA</li>
          </span>
          </ul>
        </dd>

        <dt>1956~1974</dt>
        <dd>
          <span onclick="obj=document.getElementById('open4').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Période de l' "optimisme initial"</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open4" style="display: none; clear: both;">
          <li>Période de l' "optimisme initial", âge d'or de l'IA avec des développements remarquables en logique symbolique, apprentissage automatique, et réseaux neuronaux</li>
          </span>
          </ul>
        </dd>

        <dt>1970~1980</dt>
        <dd>
          <span onclick="obj=document.getElementById('open5').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h3>Premières applications de l'IA"</h3>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open5" style="display: none; clear: both;">
          <li>Alors que l'IA commençait à être appliquée dans diverses industries, des préoccupations concernant l'automatisation et la suppression d'emplois ont commencé à émerger</li>
          </span>
          </ul>
        </dd>

        <dt>1974~1980</dt>
        <dd>
          <span onclick="obj=document.getElementById('open6').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Période difficile</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open6" style="display: none; clear: both;">
          <li>Période difficile, critiques quant aux financements excessifs sans direction de recherche précise : financements réduits</li>
          </span>
          </ul>
        </dd>

        <dt>1980~1987</dt>
        <dd>
          <span onclick="obj=document.getElementById('open7').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Les techniques de l'apprentissage</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open7" style="display: none; clear: both;">
          <li>Les techniques de l'apprentissage connexionniste (réseaux neuronaux) regagnent en popularité, les financements augmentent</li>
          </span>
          </ul>
        </dd>

        <dt>1987</dt>
        <dd>
          <span onclick="obj=document.getElementById('open8').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>méthode de Backpropagation</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open8" style="display: none; clear: both;">
          <li>La méthode de Backpropagation est redécouverte, améliorant les réseaux neuronaux</li>
          </span>
          </ul>
        </dd>

        <dt>1987~1993</dt>
        <dd>
          <span onclick="obj=document.getElementById('open9').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Second hiver de l'IA</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open9" style="display: none; clear: both;">
          <li>Perte de confiance de la part des investisseurs sans pour autant stopper complètement les progrès dans le domaine </li>
          </span>
          </ul>
        </dd>

        <dt>1995~2000</dt>
        <dd>
          <span onclick="obj=document.getElementById('open10').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h3>Boom d'Internet</h3>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open10" style="display: none; clear: both;">
          <li>L'essor d'Internet et des technologies numériques a propulsé l'IA au premier plan des applications commerciales. Cette période a vu un débat accru sur l'impact de la technologie sur l'emploi, notamment dans des secteurs tels que la fabrication et le service client</li>
          </span>
          </ul>
        </dd>

        <dt>1997</dt>
        <dd>
          <span onclick="obj=document.getElementById('open11').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Deep Blue d'IBM</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open11" style="display: none; clear: both;">
          <li>Deep Blue d'IBM bat le champion du monde d'échecs, Garry Kasparov, preuve incontestable du potentiel des IA</li>
          </span>
          </ul>
        </dd>

        <dt>2006</dt>
        <dd>
          <span onclick="obj=document.getElementById('open12').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Geoffrey Hinton</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open12" style="display: none; clear: both;">
          <li>Geoffrey Hinton et ses collègues publient des travaux clés sur les réseaux de neurones prof</li>
          </span>
          </ul>
        </dd>

        <dt>2000~2010</dt>
        <dd>
          <span onclick="obj=document.getElementById('open13').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h3>IA et Big Data</h3>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open13" style="display: none; clear: both;">
          <li>Avec les progrès dans l'apprentissage automatique et l'analyse des big data, l'impact de l'IA sur l'emploi est devenu plus prononcé. Les discussions portant sur la manière dont l'IA pouvait remplacer certaines fonctions professionnelles se multiplient</li>
          </span>
          </ul>
          <span onclick="obj=document.getElementById('open14').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>Essor de plusieurs</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open14" style="display: none; clear: both;">
          <li>Essor de plusieurs assistants personnels intelligents comme Siri de Apple</li>
          </span>
          </ul>
        </dd>

        <dt>2007</dt>
        <dd>
          <span onclick="obj=document.getElementById('open16').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>DARPA Urban</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open16" style="display: none; clear: both;">
          <li>Le DARPA Urban Challenge est remporté par une équipe de chercheurs de Carnegie-Mellon, avec cette fois-ci des conditions urbaines et le code de la route à respecter </li>
          </span>
          </ul>
        </dd>

        <dt>2012</dt>
        <dd>
          <span onclick="obj=document.getElementById('open17').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>AlexNet</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open17" style="display: none; clear: both;">
          <li>AlexNet remporte la compétition ImageNet, marquant le début de l'ère moderne de l'apprentissage profond</li>
          </span>
          </ul>
        </dd>

        <dt>2016</dt>
        <dd>
          <span onclick="obj=document.getElementById('open18').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>AlphaGo</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open18" style="display: none; clear: both;">
          <li>AlphaGo de DeepMind bat le champion du monde de Go, démontrant une fois de plus les capacités de l'IA dans des jeux complexes </li>
          </span>
          </ul>
          <span onclick="obj=document.getElementById('open19').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h3>WEF</h3>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open19" style="display: none; clear: both;">
          <li>Le WEF a publié un rapport avertissant que 5 millions d'emplois pourraient être perdus en raison de l'automatisation d'ici 2020. Ce rapport a considérablement intensifié l'intérêt du public et du milieu académique pour le débat sur l'IA et l'emploi </li>
          </span>
          </ul>
        </dd>

        <dt>2019</dt>
        <dd>
          <span onclick="obj=document.getElementById('open20').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h3>L'Illinois</h3>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open20" style="display: none; clear: both;">
          <li>L'Illinois a promulgué une loi pionnière concernant l'IA sur le lieu de travail, abordant spécifiquement l'utilisation de l'IA dans les entretiens vidéo pour les candidats à un emploi</li>
          </span>
          </ul>
          <span onclick="obj=document.getElementById('open21').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>OpenAI</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open21" style="display: none; clear: both;">
          <li>OpenAI publie le modèle de langage GPT-2, démontrant des capacités impressionnantes de génération de texte </li>
          </span>
          </ul>
        </dd>

        <dt>2020</dt>
        <dd>
          <span onclick="obj=document.getElementById('open22').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h2>GPT</h2>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open22" style="display: none; clear: both;">
          <li>Publication de GPT-3, entraînée avec plus de 100 fois plus de paramètres que pour GPT-2</li>
          </span>
          </ul>
        </dd>

        <dt>2020~2024</dt>
        <dd>
          <span onclick="obj=document.getElementById('open23').style; obj.display=
          (obj.display=='none')?'block':'none';">
          <h3>mise à disposition globale de multiples IA</h3>
          </span>
          <ul>
          <!-- 折り畳まれる部分 -->
          <span id="open23" style="display: none; clear: both;">
          <li>Avec la mise à disposition globale de multiples IA et les preuves concrètes de leurs capacités visibles par tous au quotidien, les débats et manifestations portant sur le sujet explosent</li>
          </span>
          </ul>
        </dd>
      </dl>
    </div>
  </section>
</BaseLayout>
